body {
  background-color: #0d542b;
  font-family: "Roboto", sans-serif;
}

form {
  margin-bottom: 30px;
  text-align: center;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.weather-app-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 50px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form-input {
  background-color: #f3f3f5;
  border: 2px solid oklch(92.4% 0.12 95.746);
  border-radius: 5px;
  line-height: 1.5;
  padding: 10px;
  width: 300px;
}

.search-form-button {
  background: linear-gradient(
    90deg,
    oklch(82.8% 0.189 84.429),
    oklch(76.9% 0.188 70.08),
    oklch(66.6% 0.179 58.318)
  );
  color: white;
  font-weight: 600;
  line-height: 1.5;
  border: 0;
  padding: 11px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.search-form-button:hover {
  background: linear-gradient(
    90deg,
    oklch(76.8% 0.189 84.429),
    oklch(70.9% 0.188 70.08),
    oklch(60.6% 0.179 58.318)
  );
}
